    <li class="all">
        <a href="#/">All</a>
    </li>
    <li class="active">
        <a href="#/active">Active</a>
    </li>
    <li class="completed">
        <a href="#/completed">Completed</a>
    </li>
