    <li class="all">
        <a href="#/">{{t "todo:filters.all.label" }}</a>
    </li>
    <li class="active">
        <a href="#/active">{{t "todo:filters.active.label" }}</a>
    </li>
    <li class="completed">
        <a href="#/completed">{{t "todo:filters.completed.label" }}</a>
    </li>
