<span id="todo-count">{{t "todo:footer.active" count=activeCount }}</span>
<ul id="filters"></ul>
<button id="clear-completed" {{#unless completedCount }}class="hidden"{{/unless}}>
    {{t "todo:footer.clearCompleted"}}
</button>
